.dota-achievments{
    @include maxWidth;
    transition: all 0.5s ease-in-out;
}
.dota-achievments-wrapper{
    position: relative;
    overflow: hidden;
}
.section-main-text{
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span{
        color: green;
    }
    h1{
        text-transform: uppercase;
        white-space: pre;
    }
    p{
        font-weight: bold;
        color: gray;
    }
    &::after{
        content: ' ';
        width: 80px;
        height: 2px;
        background-color: #000;
        display: block;
        margin: 10px 0;
    }
    button{
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        background-color: green;
        border: none;
        padding: 10px 25px;
        margin-top: 10px;
    }
}
.btn{
cursor: pointer;
position: absolute;
display: flex;
align-items: center;
top: 0;
z-index: 10;
height: 100%;
width: 20px;
background-color: rgb(104, 104, 104);
&:hover{
    background-color: rgb(138, 138, 138);
}
}
.prev-btn{
    left: 0;
}
.next-btn{
    right: 0;
}

#achievements-carousel .owl-item div{
    position: relative;
    border-right: 1px solid rgb(139, 139, 139); 
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 145px;
    background-color: rgb(42, 38, 51);
    img{
        margin: 10px 0;
        width: 45px;
        height: 45px;
    }
}
#achievements-carousel .owl-item div::after{
    content: ' ';
    transition: all 0.3s ease-out;
    position: absolute;
    right: -350px;
    opacity: 0.5;
    background: linear-gradient(266.59deg, rgba(105, 105, 105, 0.19)100%, rgba(97, 97, 97, 0) 141.28%);
    width: 500px;
    height: 400px;
    transform: rotate(45deg); 
}
#achievements-carousel .owl-item div:hover::after{
        right: -250px;
        background: linear-gradient(266.59deg, rgba(167, 167, 167, 0.19)100%, rgb(231, 231, 231)1.28%);
}