.landing{
    height: 100vh;
}
.nav{
    position: fixed;
    z-index: 1000;
    right: 0;
    left: 0;
    display: flex;
    background: linear-gradient(90deg, $Color , rgb(84, 84, 99) , $Color);
    border-bottom: 3px solid green;
    img{
        position: absolute;
        width: 68px;
        height: 100px;
        left: 10px;
        top: 15px;
    }
}
.menu{
    margin-left: 100px;
    display: flex;
    .menu-item{
        display: flex;
        flex-direction: column;
        margin: 30px 10px;
        a{
            transition: all 0.3s ease;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 2px;
        }
        span{
            transition: all 0.3s ease;
            width: auto;
            height: 1px;
            background-color: $Red;
            opacity: 0;
        }
        &:hover{
            a{
                color: $Red;
            }
            span{
                opacity: 1;
            }
        }
    }
    .menu-item:nth-of-type(1){
        a{
            color: $Red;
        }
        span{
            opacity: 1;
        } 
    }
}

.socials{
    position: absolute;
    right: 50px;
    display: flex;
    justify-content: space-around;
    margin: 30px 10px;
    a{
        margin: 0 7px;
        svg{
            transition: all 0.3s ease-in-out;
            display: block;
            height: 25px;
            width: 30px;
            fill: #fff;
        }
        &:hover{
            .twitter{
                fill: lightskyblue;
            }
            .facebook{
                fill:darkcyan;
            }
            .instagram{
                fill: $Red;
            }
            .youtube{
                fill: red;
            }
            .vk{
                fill: lightcoral;
            }
            .weibo{
                fill: $Red;
            }
        }
    }
}

.burger-menu-wrapper{
    display: none !important;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    width: 60px;
    height: 40px;
    .burger-menu{
        width: 70%;
        height: 50%;
        position: relative;
    }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 25px;
        height: 2px;
        background-color: #fff;
    }
    span:before{
        position: absolute;
        content: '';
        top: -6px;
        width: 25px;
        height: 2px;
        background-color: #fff;
    }
    span:after{
        position: absolute;
        content: '';
        top: 6px;
        width: 25px;
        height: 2px;
        background-color: #fff;
    }
}

