.landing-content{
    height: 100%;
    background-image: url(other-images/heroes.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.landing-content-wrapper{
    @include maxWidth;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.landing-text{
    margin-right: 150px;
    h1{
        font-size: 50px;
        font-weight: bold;
    }
}
.landing-carousel-wrapper{
    position: relative;
}
.landing-carousel-controls{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -20px;
    .control{
        cursor: pointer;
        font-size: 50px;
    }
    .landing-next{
        float: right;
    }
    .landing-prev{
        float: left;
    }
}
#landing-carousel{
    width: 414px;
    .owl-dots{
        margin-top: 10px;
    }
}
#landing-carousel .owl-item{
    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        top: -200px;
        right: -250px;
        opacity: 0.5;
        background: linear-gradient(266.59deg, rgba(105, 105, 105, 0.19)100%, rgba(97, 97, 97, 0) 141.28%);
        width: 500px;
        height: 400px;
        transform: rotate(45deg); 
        }
        position: relative;
        border-radius: 10px;
        background-color: rgb(42, 38, 51);
        height: 230px;
        width: 414px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        color: #fff;
        h3{
            color: yellow;
            width: 200px;
        }
        img{
            position: absolute;
            width: 160px;
            height: 190px;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
}