.videos{
    transition: all 0.5s ease-in-out;
    @include maxWidth;
}
#videos-carousel  .owl-item div{
    background-color: #000;
    position: relative;
    cursor: pointer;
    a{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    img{
        transition: all 0.3s ease-in-out;
        width: 100% ;
        height: 100% ;
        object-fit: cover ;
    }
    h4{
        color: #fff;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
    button{
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        bottom: 10px;
        border: none;
        background-color: #d2003c;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        outline: none;
    }
    &:hover{
        img{
            opacity: 0.5;
        }
        button{
            transform: scale(1.2); 
        }
    }
}