@font-face{
    font-family: Poppins;
    src: url('./fonts/Poppins-Light.ttf')
}
$Color: #111c38;
$Red: #d2003c;
*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    background-image: url(./other-images/background.webp);
}
@mixin maxWidth{
    max-width: 1180px;
    margin: 0 auto;
}
@import "./scss/achievements";
@import "./scss/videos";
@import "./scss/merchandise";
@import "./scss/games";
@import "./scss/landing";



@media screen and(max-width: 1024px){
    .side-margin{
        margin: 0 15px;
    }
    .merch-btn{
        display: none;
    }
}





