@font-face{
    font-family: Poppins;
    src: url('./fonts/Poppins-Light.ttf')
}
$Color: #111c38;
$Red: #d2003c;
*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    overflow-x: hidden;
    background-image: url(./other-images/background.webp);
}
.green{
    background-color: #458644;
}
.block{
    display: block !important;
}
.section-margin{
    margin-top: 50px !important;
}
@mixin maxWidth{
    max-width: 1280px;
    margin: 0 auto;
}
@import "./scss/achievements";
@import "./scss/videos";
@import "./scss/merchandise";
@import "./scss/games";
@import "./scss/landing-nav";
@import "./scss/landing-content";
@import "./scss/players";
@import "./scss/news";

///////////////////////////////////////////////////Media 1024
@media screen and(max-width: 1024px){
    .side-margin{
        margin: 0 15px;
    }
    .side-padding{
        padding: 0 5px;
    }
    .merch-btn{
        display: none;
    }
    ///////////////////////////////////////////////Landing Carousel
    .landing{
        height: fit-content;
    }
    .landing-content-wrapper{
        display: block;
        overflow: hidden;
    }
    .landing-text{
        margin-right: 0;
        margin-top: 120px;
        h1{
            font-size: 30px;
            margin-bottom: 10px;
        }
    }
    .landing-carousel-wrapper{
        width: 97%;
        margin: 50px auto;
    }
    #landing-carousel{
      width: 100%;
    }
    #landing-carousel .owl-item{
        overflow: hidden;
            img{
                width: 350px;
                height: 340px;
                top: 80%;
            }
    }
    ///////////////////////////////////////////////////////Players
    .team{
        @include maxWidth;
    }
    .players{
        display: flex;
        flex-direction: column;
    }
    .player{ 
        width: 100%;
        margin: 10px 0;
    }
}
///////////////////////////////////////////////////Media 768
@media screen and (max-width: 768px){
    .menu{
        background: linear-gradient(270deg, #191e2b 0%, #333b54 52.08%, #141822 100%), #191e2b;
        margin-left: 0;
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        top: 82px;
        display: none;
        .menu-item{
            a{
                margin: 0 auto;
                width: fit-content;
            }
            div{
                opacity: 0 !important;
            }     
        }
        .menu-item:nth-of-type(1){
            a{
                color: $Red;
            }
            div{
                opacity: 0 !important;
            }
        }
    }
    
    .socials{
        right: 70px;     
    }
    
    .burger-menu-wrapper{
        display: block !important;
        position: absolute;
    }
    #landing-carousel .owl-item{
            img{
            width: 160px;
            height: 190px;
            top: 50%;
            }
    }
    //////////////////////////////////////////////////////News
    .news-grid{
        display: flex;
        flex-direction: column;
    }
    .news-block{
        margin: 5px 0;
        width: 100%;
        height: 250px;
        &::after{
            opacity: 1;
        }
    }
    .news1{
        height: 400px;
    }
}






