@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Light.ttf");
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins;
}

body {
  overflow-x: hidden;
  background-image: url(./other-images/background.webp);
}

.green {
  background-color: #458644;
}

.block {
  display: block !important;
}

.animation-fix {
  margin-top: 50px !important;
  opacity: 1 !important;
}

.dota-achievments {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dota-achievments-wrapper {
  position: relative;
  overflow: hidden;
}

.section-main-text {
  margin: 20px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-main-text span {
  color: green;
}

.section-main-text h1 {
  text-transform: uppercase;
  white-space: pre;
}

.section-main-text p {
  font-weight: bold;
  color: gray;
}

.section-main-text::after {
  content: ' ';
  width: 80px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 10px 0;
}

.section-main-text button {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: green;
  border: none;
  padding: 10px 25px;
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 20px;
  background-color: #686868;
}

.btn:hover {
  background-color: #8a8a8a;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

#achievements-carousel .owl-item div {
  position: relative;
  border-right: 1px solid #8b8b8b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 145px;
  background-color: #2a2633;
}

#achievements-carousel .owl-item div img {
  margin: 10px 0;
  width: 45px;
  height: 45px;
}

#achievements-carousel .owl-item div::after {
  content: ' ';
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  position: absolute;
  right: -350px;
  opacity: 0.5;
  background: linear-gradient(266.59deg, rgba(105, 105, 105, 0.19) 100%, rgba(97, 97, 97, 0) 141.28%);
  width: 500px;
  height: 400px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#achievements-carousel .owl-item div:hover::after {
  right: -250px;
  background: linear-gradient(266.59deg, rgba(167, 167, 167, 0.19) 100%, #e7e7e7 1.28%);
}

.videos {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  max-width: 1280px;
  margin: 0 auto;
}

#videos-carousel .owl-item div {
  background-color: #000;
  position: relative;
  cursor: pointer;
}

#videos-carousel .owl-item div a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#videos-carousel .owl-item div img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#videos-carousel .owl-item div h4 {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#videos-carousel .owl-item div button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 10px;
  bottom: 10px;
  border: none;
  background-color: #d2003c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  outline: none;
}

#videos-carousel .owl-item div:hover img {
  opacity: 0.5;
}

#videos-carousel .owl-item div:hover button {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.merchandise {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.merch-btn {
  cursor: pointer;
  position: absolute;
  top: 220px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.merch-btn-next {
  right: -50px;
}

.merch-btn-prev {
  left: -50px;
}

#merchandise-carousel .owl-item {
  position: relative;
  border-radius: 10px;
  background-color: #2a2633;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: #fff;
}

#merchandise-carousel .owl-item::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -200px;
  right: -250px;
  opacity: 0.5;
  background: linear-gradient(266.59deg, rgba(105, 105, 105, 0.19) 100%, rgba(97, 97, 97, 0) 141.28%);
  width: 500px;
  height: 400px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#merchandise-carousel .owl-item h3 {
  color: yellow;
  width: 200px;
}

#merchandise-carousel .owl-item img {
  position: absolute;
  width: 160px;
  height: 190px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.red-button {
  color: #fff;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 5px 25px;
  background-color: #d2003c;
  border: none;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px 20px 0 black;
          box-shadow: 0 5px 20px 0 black;
}

.red-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.games-carousel {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fff;
}

#game-carousel .owl-item div {
  background-color: #ebebeb;
}

#game-carousel .owl-item div img {
  width: auto;
  height: 58px;
}

.match-buttons {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons-wrapper .game-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 20px;
  background-color: #458644;
  margin: 0 10px;
}

.match-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match-center h3 {
  display: inline-block;
}

.game-item {
  -webkit-box-shadow: 0 0 7px 3px #7e7e7e;
          box-shadow: 0 0 7px 3px #7e7e7e;
  margin: 10px;
}

.description {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 0 0 5px 0 !important;
}

.description h4 {
  font-size: 13px;
  display: block;
  margin: 5px 10px;
}

.description span {
  display: block;
  margin: 5px 10px;
}

.lan {
  color: #fff;
  float: right;
  padding: 3px 10px;
  font-size: 14px;
  background-color: #111c38;
}

.results-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.team1, .team2, .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team1 h4, .team2 h4, .results h4 {
  margin-top: 5px;
  text-transform: uppercase;
}

.team1 p, .team2 p, .results p {
  font-size: 14px;
}

.results {
  white-space: pre;
  margin-top: 30px;
}

.landing {
  height: 100vh;
}

.nav {
  height: 82px;
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, right top, left top, from(#191e2b), color-stop(52.08%, #333b54), to(#141822)), #191e2b;
  background: linear-gradient(270deg, #191e2b 0%, #333b54 52.08%, #141822 100%), #191e2b;
  border-bottom: 3px solid green;
}

.nav img {
  z-index: 1000;
  position: absolute;
  width: 68px;
  height: 100px;
  left: 10px;
  top: 15px;
}

.menu {
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 10px;
}

.menu .menu-item a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
}

.menu .menu-item div {
  font-size: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 98%;
  height: 2px;
  background-color: #d2003c;
  opacity: 0;
}

.menu .menu-item:hover a {
  color: #d2003c;
}

.menu .menu-item:hover div {
  opacity: 1;
}

.menu .menu-item:nth-of-type(1) a {
  color: #d2003c;
}

.menu .menu-item:nth-of-type(1) div {
  opacity: 1;
}

.socials {
  position: absolute;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px 10px;
}

.socials a {
  margin: 0 5px;
}

.socials a svg {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  height: 25px;
  width: 30px;
  fill: #fff;
}

.socials a:hover .twitter {
  fill: lightskyblue;
}

.socials a:hover .facebook {
  fill: darkcyan;
}

.socials a:hover .instagram {
  fill: #d2003c;
}

.socials a:hover .youtube {
  fill: red;
}

.socials a:hover .vk {
  fill: lightcoral;
}

.socials a:hover .weibo {
  fill: #d2003c;
}

.burger-menu-wrapper {
  display: none !important;
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid green;
  width: 50px;
  height: 40px;
}

.burger-menu-wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.burger-menu-wrapper span:before {
  position: absolute;
  content: '';
  top: -6px;
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.burger-menu-wrapper span:after {
  position: absolute;
  content: '';
  top: 6px;
  width: 25px;
  height: 2px;
  background-color: #fff;
}

.landing-content {
  height: 100%;
  background-image: url(other-images/heroes.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.landing-content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing-text {
  margin-right: 150px;
}

.landing-text h1 {
  font-size: 50px;
  font-weight: bold;
}

.landing-carousel-wrapper {
  position: relative;
}

.landing-carousel-controls {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -20px;
}

.landing-carousel-controls .control {
  cursor: pointer;
  font-size: 50px;
}

.landing-carousel-controls .landing-next {
  float: right;
}

.landing-carousel-controls .landing-prev {
  float: left;
}

#landing-carousel {
  width: 414px;
}

#landing-carousel .owl-dots {
  margin-top: 10px;
}

#landing-carousel .owl-item {
  position: relative;
  border-radius: 10px;
  background-color: #2a2633;
  height: 230px;
  width: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  color: #fff;
}

#landing-carousel .owl-item::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -200px;
  right: -250px;
  opacity: 0.5;
  background: linear-gradient(266.59deg, rgba(105, 105, 105, 0.19) 100%, rgba(97, 97, 97, 0) 141.28%);
  width: 500px;
  height: 400px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#landing-carousel .owl-item h3 {
  color: yellow;
  width: 200px;
}

#landing-carousel .owl-item img {
  position: absolute;
  width: 160px;
  height: 190px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.team {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  max-width: 1280px;
  margin: 0 auto;
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.player {
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20%;
  height: 350px;
  margin: 0 5px;
  background: linear-gradient(199.69deg, #23293b 5.4%, #3e101e 123.45%);
  border-radius: 10px;
  -webkit-box-shadow: 0 7px 10px #23293b;
          box-shadow: 0 7px 10px #23293b;
}

.player:before {
  border-radius: 10px;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(199.69deg, #23293b 5.4%, #6c5700 123.45%);
}

.player:hover:before {
  opacity: 1;
}

.player .player-image {
  height: 300px;
  width: 190px;
}

.player .country {
  position: absolute;
  right: 15px;
  top: 10px;
}

.player .second-country {
  height: 20px;
  width: 32px;
  position: absolute;
  right: 55px;
  top: 12px;
}

.player .role {
  font-size: 12px;
  position: absolute;
  font-weight: bold;
  top: 10px;
  left: 15px;
  padding: 2px 10px;
  background-color: #0008;
}

.player .name-nickname {
  position: absolute;
  bottom: 10px;
  left: 15px;
}

.player .name-nickname p:nth-child(1) {
  font-weight: bold;
}

.player:first-of-type {
  margin-left: 0;
}

.player:last-of-type {
  margin-right: 0;
}

.player-icon-wrapper {
  width: 30px;
  top: 70px;
  left: 10px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-icon-wrapper a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0 0 10px -80px;
  opacity: 0;
}

.player-icon-wrapper a:hover .twitter {
  fill: lightskyblue;
}

.player-icon-wrapper a:hover .facebook {
  fill: darkcyan;
}

.player-icon-wrapper a:hover .instagram {
  fill: #d2003c;
}

.player-icon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  fill: #fff;
}

.player-icon-animation {
  margin: 5px 0 0 0 !important;
  opacity: 1 !important;
}

.news {
  margin-top: 100px !important;
  max-width: 1280px;
  margin: 0 auto;
}

.news a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.news-grid {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 310px 310px;
      grid-template-rows: 310px 310px;
}

.news-block {
  position: relative;
}

.news-block::after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent);
  opacity: 0;
}

.news-block::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0005;
}

.news-block:hover::after {
  opacity: 0.5;
}

.news-content {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 10px;
  color: #fff;
}

.news-content h3 {
  margin: 10px 0;
}

.news-content small {
  background-color: green;
  border-radius: 5px;
  padding: 5px 20px;
}

.news1 {
  background-image: url(news-images/news-image1.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.news2 {
  background-image: url(news-images/news-image2.png);
  background-size: cover;
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.news3 {
  background-image: url(video-carousel-photo/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.news4 {
  background-image: url(news-images/news-image3.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.news5 {
  background-image: url(news-images/news-image4.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

footer {
  margin-top: 100px;
  background: radial-gradient(313.01px at 51.23% 0%, #23293b 0%, #0f111a 100%), #12151e;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
}

footer p {
  font-size: 14px;
}

footer a {
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #fff;
}

footer a:hover {
  color: #d2003c;
}

footer img {
  width: 70px;
  height: 96px;
  margin-right: 15px;
}

footer h3 {
  margin-bottom: 10px;
}

footer h3 span {
  border-bottom: 2px solid #d2003c;
  padding-bottom: 2px;
}

footer li {
  list-style: none;
}

.footer-content {
  padding: 30px 20px;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.story {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.footer-resent-posts {
  margin-left: 50px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer-resent-posts li {
  margin-bottom: 16px;
}

.footer-pages {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-socials {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-copyright-wrapper {
  border-top: 1px solid #3232c7;
}

.footer-copyright {
  padding: 25px 0;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.up-button {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  margin-right: -80px;
  opacity: 0;
  z-index: 1000;
  right: 30px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  background-color: #23293b;
  border: 3px solid #458644;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 1024px) {
  .side-margin {
    margin: 0 15px;
  }
  .side-padding {
    padding: 0 5px;
  }
  .merch-btn {
    display: none;
  }
  .landing {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .landing-content-wrapper {
    display: block;
    overflow: hidden;
  }
  .landing-text {
    margin-right: 0;
    margin-top: 120px;
  }
  .landing-text h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .landing-carousel-wrapper {
    width: 97%;
    margin: 50px auto;
  }
  #landing-carousel {
    width: 100%;
  }
  #landing-carousel .owl-item {
    overflow: hidden;
  }
  #landing-carousel .owl-item img {
    width: 350px;
    height: 340px;
    top: 80%;
  }
  .team {
    max-width: 1280px;
    margin: 0 auto;
  }
  .players {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .player {
    width: 100%;
    margin: 10px 0;
  }
  footer h3 {
    margin-top: 50px;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story {
    margin-top: 0;
  }
  .footer-story :first-child {
    margin-top: 0 !important;
  }
  .footer-resent-posts {
    margin-left: 0;
  }
  .footer-pages ul {
    float: left;
  }
  .footer-pages li {
    float: left;
    margin-right: 10px;
  }
  .footer-socials ul {
    float: left;
  }
  .footer-socials li {
    margin-right: 10px;
    float: left;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    background: -webkit-gradient(linear, right top, left top, from(#191e2b), color-stop(52.08%, #333b54), to(#141822)), #191e2b;
    background: linear-gradient(270deg, #191e2b 0%, #333b54 52.08%, #141822 100%), #191e2b;
    margin-left: 0;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 82px;
    display: none;
  }
  .menu .menu-item a {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .menu .menu-item div {
    opacity: 0 !important;
  }
  .menu .menu-item:nth-of-type(1) a {
    color: #d2003c;
  }
  .menu .menu-item:nth-of-type(1) div {
    opacity: 0 !important;
  }
  .socials {
    right: 70px;
  }
  .burger-menu-wrapper {
    display: block !important;
    position: absolute;
  }
  #landing-carousel .owl-item img {
    width: 160px;
    height: 190px;
    top: 50%;
  }
  .news-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news-block {
    margin: 5px 0;
    width: 100%;
    height: 250px;
  }
  .news-block::after {
    opacity: 1;
  }
  .news1 {
    height: 400px;
  }
  .footer-copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copyright p {
    margin: 5px 0;
  }
}

@media screen and (max-width: 425px) {
  .player-icon-wrapper a {
    margin: 0 0 10px 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */